<section class="connection">
    <h6>обратная связь</h6>
    <h2>Связаться с нами</h2>
    <form class="cf connection_form">
        <div class="half left cf">
            <input type="text" id="input-name" placeholder="Имя">
            <input type="tel" id="input-tel" placeholder="Телефон">
        </div>
        <div class="half right cf">
            <input type="email" id="input-email" placeholder="E-mail">
            <input type="text" id="input-subject" placeholder="Тема">
        </div>
        <div class="group align-items-end">
            <div class="textarea">
                <textarea name="message" id="input-message" placeholder="Сообщение"></textarea>
            </div>
            <div class="submit-group submit-btn popupOpen">
                <input type="submit" value="" id="input-submit">
            </div>
        </div>
    </form>
</section>

