<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6 margin-r order-md-1 order-xl-1">
                    <div class="footer_top-logo">
                        <a href="index.html"><span>logo</span></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus totam velit. Nulla! Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus totam velit. Nulla!</p>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 links-group order-md-4 order-xl-2">
                    <h5>ССЫЛКИ</h5>
                    <ul class="ul-border">
                        <li class="footer_link"><a href="index.html">Главная</a></li>
                        <li class="footer_link"><a href="about.html">О нас</a></li>
                        <li class="footer_link"><a href="servises.html">Услуги</a></li>
                        <li class="footer_link"><a href="portfolio.html">Портфолио</a></li>
                        <li class="footer_link"><a href="faq.html">FAQ</a></li>
                        <li class="footer_link"><a href="media-portal.html">Блог</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 padding-b order-md-3 order-xl-3">
                    <h5>Услуги</h5>
                    <ul class="ul-border">
                        <li class="footer_link"><a href="servises.html">Дизайн-Проект помещения</a></li>
                        <li class="footer_link"><a href="servises.html">Комплекация</a></li>
                        <li class="footer_link"><a href="servises.html">Авторский надзор</a></li>
                        <li class="footer_link"><a href="servises.html">Декорирование</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 padding-b order-md-2 order-xl-4">
                    <h5>КОНТАКТЫ</h5>
                    <ul class="footer-icon">
                        <li class="phone icon-bg"><a href="#">+3 8 000 000 0000</a></li>
                        <li class="phone icon-bg"><a href="#">+3 8 000 000 0000</a></li>
                        <li class="mail icon-bg"><a href="#">Annakorenina@gmail.com</a></li>
                    </ul>
                    <div class="footer_social-link">
                        <a href="">
                            <img src="assets/img/facebook-footer.svg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/img/instagram-footer.svg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/img/pinterest-footer.svg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/img/youtube-footer.svg" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <p>Copyright 2019. All right reserved</p>
            <p>&copy;	</p>
        </div>
    </div>
</footer>

<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/handy-collapse.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/sliders.js"></script>
</body>
</html>