<body>
<div class="b-nav">
    <li><a class="b-link" href="index.html">Главная</a></li>
    <li><a class="b-link" href="about.html">О нас</a></li>
    <li><a class="b-link" href="servises.html">Услуги</a></li>
    <li><a class="b-link" href="portfolio.html">Портфолио</a></li>
    <li><a class="b-link" href="faq.html">FAQ</a></li>
    <li><a class="b-link" href="media-portal.html">Блог</a></li>
    <li><a class="b-link" href="contacts.html">Контакты</a></li>
</div>

<header class="op">
    <div class="container-fluid">
        <div class="header align-items-center">
            <div class="b-container">
                <div class="b-menu">
                    <div class="b-bun b-bun--top"></div>
                    <div class="b-bun b-bun--mid"></div>
                    <div class="b-bun b-bun--bottom"></div>
                </div>
            </div>
            <div class="header_logo">
                <a href="index.html"><span>logo</span></a>
            </div>
            <ul class="header_nav">
                <li><a href="index.html">главная</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="servises.html">Услуги</a></li>
                <li><a href="portfolio.html">Портфолио</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="media-portal.html">Блог</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <div class="header_tel">
                <div class="header_tel-text">
                    <a href="#">+1 000 0384621</a>
                    <a href="#">Заказать звонок</a>
                </div>
                <div class="call-btn">
                    <a href="#">
                        <img src="assets/img/header/phone.svg" alt="phone">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>