<section class="mechanism">
    <div class="container-fluid">
        <h4 class="mechanism_subtitle">механизм работы</h4>
        <h2>Как мы работаем</h2>

        <div class="mechanism_block border-top">
            <div class="mechanism_item">
                <div class="mechanism_img">
                    <img src="assets/img/mechanism/mechanism1.svg" alt="">
                </div>
                <h4>1. Встреча</h4>
                <p>для смежных специалистов (технические задания изготовления кухонь, лепнины, индивидуальной мебели и т.д.).</p>
            </div>
            <div class="mechanism_item">
                <div class="mechanism_img">
                    <img src="assets/img/mechanism/mechanism2.svg" alt="">
                </div>
                <h4>2. Выезд на объект</h4>
                <p>для смежных специалистов (технические задания изготовления кухонь, лепнины, индивидуальной мебели и т.д.).</p>
            </div>
            <div class="mechanism_item">
                <div class="mechanism_img">
                    <img src="assets/img/mechanism/mechanism3.svg" alt="">
                </div>
                <h4>3. Планировка</h4>
                <p>для смежных специалистов (технические задания изготовления кухонь, лепнины, индивидуальной мебели и т.д.).</p>
            </div>
        </div>
        <div class="mechanism_block border-bottom">
            <div class="mechanism_item">
                <div class="mechanism_img">
                    <img src="assets/img/mechanism/mechanism4.svg" alt="">
                </div>
                <h4>4. Визуализация</h4>
                <p>для смежных специалистов (технические задания изготовления кухонь, лепнины, индивидуальной мебели и т.д.).</p>
            </div>
            <div class="mechanism_item">
                <div class="mechanism_img">
                    <img src="assets/img/mechanism/mechanism5.svg" alt="">
                </div>
                <h4>5. Выезд в магазин</h4>
                <p>для смежных специалистов (технические задания изготовления кухонь, лепнины, индивидуальной мебели и т.д.).</p>
            </div>
            <div class="mechanism_item">
                <div class="mechanism_img">
                    <img src="assets/img/mechanism/mechanism6.svg" alt="">
                </div>
                <h4>6. Чертежи</h4>
                <p>для смежных специалистов (технические задания изготовления кухонь, лепнины, индивидуальной мебели и т.д.).</p>
            </div>
        </div>
        <button class="btn" type="button">
            <a href="#">начать сотрудничество</a>
        </button>
    </div>
</section>