<section class="portfolio">
    <h4>Портфолио</h4>
    <h2>Интересные решения</h2>

    <div class="portfolio_slider">
        <div class="container-fluid">
            <div class="portfolio_arrow-group">
                <button href="#"  class="portfolio_arrow portfolio_arrow-left">
                    <img src="assets/img/arrow-left.svg" alt="arrow-left">
                </button>
                <button href="#" class="portfolio_arrow portfolio_arrow-right">
                    <img src="assets/img/arrow-right.svg" alt="arrow-left">
                </button>
            </div>
        </div>

        <div class="portfolio_slider-container swiper-wrapper">
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 1. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 2. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 3. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 1. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 2. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 3. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 1. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 2. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 3. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 1. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 2. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio_slider-block swiper-slide">
                <div class="portfolio_slider-item">
                    <a href="#" class="btn-share">
                        <img src="assets/img/share.svg" alt="share">
                    </a>
                    <div class="portfolio_slider-text">
                        <span>Квартиры</span>
                        <p>Весеннее настроение 3. ЖК Козацкий</p>
                        <a href="portfolio-post.html" class="button-text">
                            смотреть проект
                            <img src="assets/img/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_line">
        <div class="portfolio_line-red"></div>
    </div>
</section>