<section class="reviews">
    <div class="reviews_header">
        <h4>О нас говорят</h4>
        <h2>Отзывы наших клиентов</h2>
        <div class="reviews_slider">
            <div class="container-fluid">
                <div class="reviews_arrow-group">
                    <button href="#"  class="reviews_arrow reviews_arrow-left">
                        <img src="assets/img/arrow-left.svg" alt="arrow-left">
                    </button>
                    <button href="#" class="reviews_arrow reviews_arrow-right">
                        <img src="assets/img/arrow-right.svg" alt="arrow-left">
                    </button>
                </div>
            </div>
            <div class="reviews_slider-container">
                <div class="reviews_slider-block swiper-wrapper">
                    <div class="reviews_slider-item swiper-slide">
                        <img src="assets/img/reviews/reviews1.jpg" alt="">
                    </div>
                    <div class="reviews_slider-item swiper-slide">
                        <img src="assets/img/reviews/reviews2.jpg" alt="">
                    </div>
                    <div class="reviews_slider-item swiper-slide">
                        <img src="assets/img/reviews/reviews3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews_text">
        <div class="reviews_text-container swiper-wrapper">
            <div class="reviews_text-slide swiper-slide">
                <h6>Дизайн квартиры 1</h6>
                <h4>Liubov Yaroslavivna</h4>
                <article class="reviews_social">
                    <a href="#" class="reviews_social-img">
                        <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.66109 0.00353713L6.5024 0C4.07718 0 2.5099 1.64211 2.5099 4.18372V6.1127H0.339433C0.151879 6.1127 0 6.26798 0 6.45951V9.25438C0 9.44592 0.152052 9.60102 0.339433 9.60102H2.5099V16.6534C2.5099 16.8449 2.66178 17 2.84933 17H5.68118C5.86873 17 6.02061 16.8447 6.02061 16.6534V9.60102H8.55839C8.74595 9.60102 8.89782 9.44592 8.89782 9.25438L8.89886 6.45951C8.89886 6.36755 8.86302 6.27948 8.79946 6.21439C8.7359 6.14931 8.64931 6.1127 8.55926 6.1127H6.02061V4.47748C6.02061 3.69153 6.20401 3.29254 7.20655 3.29254L8.66074 3.29201C8.84812 3.29201 9 3.13673 9 2.94537V0.350176C9 0.158994 8.84829 0.00389085 8.66109 0.00353713Z" fill="#999999" id="facebook"/>
                        </svg>
                    </a>
                    <a href="#" class="reviews_social-img">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.3633 0H2.63672C1.18295 0 0 1.18295 0 2.63672V15.3633C0 16.817 1.18295 18 2.63672 18H15.3633C16.817 18 18 16.817 18 15.3633V2.63672C18 1.18295 16.817 0 15.3633 0ZM9.03516 13.7109C6.41808 13.7109 4.28906 11.5819 4.28906 8.96484C4.28906 6.34776 6.41808 4.21875 9.03516 4.21875C11.6522 4.21875 13.7812 6.34776 13.7812 8.96484C13.7812 11.5819 11.6522 13.7109 9.03516 13.7109ZM14.3086 5.27344C13.4363 5.27344 12.7266 4.56372 12.7266 3.69141C12.7266 2.81909 13.4363 2.10938 14.3086 2.10938C15.1809 2.10938 15.8906 2.81909 15.8906 3.69141C15.8906 4.56372 15.1809 5.27344 14.3086 5.27344Z" fill="#898989" id="instagram"/>
                            <path d="M14.3086 3.16406C14.0176 3.16406 13.7812 3.40041 13.7812 3.69141C13.7812 3.98241 14.0176 4.21875 14.3086 4.21875C14.5996 4.21875 14.8359 3.98241 14.8359 3.69141C14.8359 3.40041 14.5996 3.16406 14.3086 3.16406Z" fill="#898989" id="instagram" />
                            <path d="M9.03516 5.27344C6.99994 5.27344 5.34375 6.92963 5.34375 8.96484C5.34375 11.0001 6.99994 12.6562 9.03516 12.6562C11.0704 12.6562 12.7266 11.0001 12.7266 8.96484C12.7266 6.92963 11.0704 5.27344 9.03516 5.27344Z" fill="#898989" id="instagram"/>
                        </svg>
                    </a>
                </article>
                <p>Ми з  шукали компанію яка зробила б нам дизайн нашої квартири і дуже хвилювались, чи зрозуміють нас вірно, і чи будемо задоволені результатом:) Вибір був зроблений на користь Istepanchuk, тому що їх проекти були нам найбільш близькі по духу...</p>
                <button class="btn-small-empty" type="button">
                    <a href="#">смотреть проект</a>
                </button>
            </div>
            <div class="reviews_text-slide swiper-slide">
                <h6>Дизайн квартиры 2</h6>
                <h4>Liubov Yaroslavivna</h4>
                <div class="reviews_social">
                    <a href="#" class="reviews_social-img"><img src="assets/img/facebook.svg" alt=""></a>
                    <a href="#" class="reviews_social-img"><img src="assets/img/instagram.svg" alt=""></a>
                </div>
                <p>Чи зрозуміють нас вірно, і чи будемо задоволені результатом:) Вибір був зроблений на користь Istepanchuk, тому що їх проекти були нам найбільш близькі по духу...</p>
                <button class="btn-small-empty" type="button">
                    <a href="#">смотреть проект</a>
                </button>
            </div>
            <div class="reviews_text-slide swiper-slide">
                <h6>Дизайн квартиры 3</h6>
                <h4>Liubov Yaroslavivna</h4>
                <div class="reviews_social">
                    <a href="#" class="reviews_social-img"><img src="assets/img/facebook.svg" alt=""></a>
                    <a href="#" class="reviews_social-img"><img src="assets/img/instagram.svg" alt=""></a>
                </div>
                <p>Нашої квартири і дуже хвилювались, чи зрозуміють нас вірно, і чи будемо задоволені результатом:) Вибір був зроблений на користь Istepanchuk, тому що їх проекти були нам найбільш близькі по духу...</p>
                <button class="btn-small-empty" type="button">
                    <a href="#">смотреть проект</a>
                </button>
            </div>
        </div>
    </div>
</section>