<aside class="sidebar">
    <div class="sidebar_about">
        <div class="sidebar_about-text">
            <p>About me</p>
            <h3>Anna Korenina</h3>
        </div>
        <a href="#" class="sidebar_about-button">
            Подробнее
        </a>
    </div>
    <div class="sidebar_articles">
        <h3>Популярные статьи</h3>
        <div class="sidebar_articles-block">
            <div class="sidebar_articles-item">
                <div class="sidebar_articles-item-link">
                    <a href="media-post.html"><img src="assets/img/portfolio/111.jpeg" alt=""></a>
                    <span class="inner_span">Новости</span>
                </div>
                <div class="sidebar_articles-item-text">
                    <h5>Легкий и изысканный дизайн небольшой ...</h5>
                    <div class="text-sup">
                        <span>12 MARCH 2019</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar_articles-block">
            <div class="sidebar_articles-item">
                <div class="sidebar_articles-item-link">
                    <a href="media-post.html"><img src="assets/img/portfolio/222.jpg" alt=""></a>
                    <span class="inner_span">Сми</span>
                </div>
                <div class="sidebar_articles-item-text">
                    <h5>Легкий и изысканный дизайн небольшой ...</h5>
                    <div class="text-sup">
                        <span>12 MARCH 2019</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar_articles-block">
            <div class="sidebar_articles-item">
                <div class="sidebar_articles-item-link">
                    <a href="media-post.html"><img src="assets/img/portfolio/444.jpg" alt=""></a>
                    <span class="inner_span">Полезно знать</span>
                </div>
                <div class="sidebar_articles-item-text">
                    <h5>Легкий и изысканный дизайн небольшой ...</h5>
                    <div class="text-sup">
                        <span>12 MARCH 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_subscrip">
        <h3>Подписатся на новости</h3>
        <form class="sidebar_subscrip-form">
            <input type="email" id="input-email" class="sidebar_subscrip-email" placeholder="E-mail">
            <div class="submit-group submit-btn">
                <input type="submit" value="" id="input-submit">
            </div>
        </form>
    </div>
    <div class="sidebar_tags">
        <h3>Теги</h3>
        <div class="sidebar_tags-block">
            <span class="inner_span">Новости</span>
            <span class="inner_span">Сми</span>
            <span class="inner_span">Полезно знать</span>
            <span class="inner_span">Video</span>
            <span class="inner_span">Награды</span>
        </div>
    </div>
</aside>